{% extends 'main/base.html' %}
{% load static %}

{% block title%}{{ block.super }} ادرس ها {% endblock %}


{% block body %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">خانه</a>
									<svg class="breadcrumb-arrow" width="6px" height="9px">
										<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
									</svg>
								</li>
								
								<li class="breadcrumb-item active" aria-current="page">حساب کاربری</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>حساب کاربری</h1></div>
				</div>
			</div>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-3 d-flex">
							<div class="account-nav flex-grow-1">
								<h4 class="account-nav__title">ناوبری</h4>
								<ul>
									<li class="account-nav__item "><a href="{% url 'dashboard' %}">داشبورد</a></li>
									<li class="account-nav__item"><a href="{% url 'profile' %}">ویرایش پروفایل</a></li>
									<li class="account-nav__item"><a href="{% url 'orders' %}">سابقه خرید</a></li>
									<li class="account-nav__item account-nav__item--active"><a href="{% url 'addresses' %}">آدرس ها</a></li>
									<li class="account-nav__item"><a href="{% url 'change-password' %}">رمز عبور</a></li>
									{% if user.is_authenticated %}
										<li class="account-nav__item"><a href="{% url 'logout'%}">خروج</a></li>
									
								</ul>
							</div>
						</div>
						<div class="col-12 col-lg-9 mt-4 mt-lg-0">
							<div class="addresses-list">
								<a href="#" class="addresses-list__item addresses-list__item--new">
								<div class="addresses-list__plus"></div>
								<div class="btn btn-secondary btn-sm">افزودن جدید</div>
								</a>
								
									<div class="addresses-list__divider"></div>
									
									<div class="addresses-list__item card address-card">
										<div class="address-card__badge">پیش فرض</div>
										<div class="address-card__body">
										
										<div class="address-card__name">{{user.first_name}} {{user.last_name}}</div>
										<div class="address-card__row">{{user.address}}</div>
										<div class="address-card__row">
										<div class="address-card__row-title">شماره تلفن</div>
										<div class="address-card__row-content"><span class="ltr_text">{{user.phone}}</span></div>
										
									</div>
									<div class="address-card__row">
									<div class="address-card__row-title">آدرس ایمیل</div>
									<div class="address-card__row-content">{{user.email}}</div>
										
									</div>
								
									<div class="address-card__footer"><a href="#">ویرایش</a>&nbsp;&nbsp; <a href="#">حذف</a></div>
									</div>
								
								</div>
								
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock %}
		