{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title%}{{ block.super }} حساب کاربری {% endblock %}

{% block body %}
		<!-- site__body -->
		<div class="site__body" align="center">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}" target="blank">خانه</a>
									<svg class="breadcrumb-arrow" width="6px" height="9px">
										<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
									</svg>
								</li>
								
								<li class="breadcrumb-item active" aria-current="page">حساب کاربری</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>حساب کاربری</h1></div>
				</div>
			</div>
			<div class="block">
				<div class="container">
					
						<div class="col-md-6 d-flex">
							<div class="card flex-grow-1 mb-md-0" align="center">
								<div class="card-body" align="right">
									<h3 class="card-title">ورود</h3>
									<form action="" method="POST" class="form-horizontal">
										{% csrf_token %}
										<div class="form-group">
											<label>نام کاربری/ایمیل</label>
											{{ form.username |add_class:"form-control" }}

											{% if form.username.errors %}
          										<div class="invalid-feedback">{{ form.username.errors }}</div>
          									{% endif %}
										</div>
										<div class="form-group">
											<label>رمز عبور</label>
											{{ form.password |add_class:"form-control" }} <small class="form-text text-muted"><a href="#">فراموشی رمز عبور</a></small>
											
											{% if form.password.errors %}
          										<div class="invalid-feedback">{{ form.password.errors }}</div>
          									{% endif %}
										</div>
										<div class="form-group">
											<div class="form-check"><span class="form-check-input input-check"><span class="input-check__body"><input class="input-check__input" type="checkbox" id="login-remember"> <span class="input-check__box"></span>
												<svg class="input-check__icon" width="9px" height="7px">
													<use xlink:href="{% static 'images/sprite.svg' %}#check-9x7"></use>
												</svg>
												</span>
												</span>
												<label class="form-check-label" for="login-remember">به خاطر سپاری</label>
											</div>
										</div>
										حسابی ندارید؟<a href="{% url 'register' %}"> ثبت نام کنید </a><br>
										<button type="submit" class="btn btn-primary mt-4">ورود</button>
									</form>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock %}		