{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ block.super }} سبد خرید {% endblock %}


{% block body %}


		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">خانه</a>
									<svg class="breadcrumb-arrow" width="6px" height="9px">
										<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
									</svg>
								</li>
								
								<li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>سبد خرید</h1></div>
				</div>
			</div>
			<div class="block-empty__body">
				<div class="block-empty__message">سبد خرید شما خالی است!</div>
				<div class="block-empty__actions"><a class="btn btn-primary btn-sm" href="{% url 'index' %}">بازگشت به خانه</a></div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock %}
		