{% extends 'main/base.html' %}
{% load static %}


{% block body %}
		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index-2.html">خانه</a>
									<svg class="breadcrumb-arrow" width="6px" height="9px">
										<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
									</svg>
								</li>
								
								<li class="breadcrumb-item active" aria-current="page">سوالات متداول</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>سوالات متداول</h1></div>
				</div>
			</div>
			<div class="block faq">
				<div class="container">
					<div class="faq__section">
						<div class="faq__section-title">
							<h3>اطلاعات حمل و نقل</h3></div>
						<div class="faq__section-body">
							<div class="row">
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>ارسال محصولات به چه روش هایی امکان پذیر است؟</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
										<h6>لورم ایپسوم متن ساختگی با تولید</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
									</div>
								</div>
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>ارسال محصولات به چه روش هایی امکان پذیر است؟</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
										<h6>لورم ایپسوم متن ساختگی با تولید</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="faq__section">
						<div class="faq__section-title">
							<h3>اطلاعات پرداخت</h3></div>
						<div class="faq__section-body">
							<div class="row">
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>ارسال محصولات به چه روش هایی امکان پذیر است؟</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
									</div>
								</div>
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>ارسال محصولات به چه روش هایی امکان پذیر است؟</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="faq__section">
						<div class="faq__section-title">
							<h3>سفارش و بازگردانی</h3></div>
						<div class="faq__section-body">
							<div class="row">
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>ارسال محصولات به چه روش هایی امکان پذیر است؟</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
									</div>
								</div>
								<div class="faq__section-column col-12 col-lg-6">
									<div class="typography">
										<h6>ارسال محصولات به چه روش هایی امکان پذیر است؟</h6>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock %}
		