{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>{% block title %} ابزارکده - {% endblock %}</title>
	<link rel="icon" type="image/png" href='{% static "images/favicon.png" %}'>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-4.2.1/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/lightgallery-1.6.12/css/lightgallery.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<!-- js -->
	<script type="text/javascript" src="{% static 'vendor/jquery-3.3.1/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap-4.2.1/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/owl-carousel-2.3.4/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/nouislider-12.1.0/nouislider.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/lightgallery-1.6.12/js/lightgallery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/lightgallery-1.6.12/js/lg-thumbnail.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/lightgallery-1.6.12/js/lg-zoom.min.js' %}"></script>
	<script 					   src="{% static 'js/number.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/svg4everybody-2.1.9/svg4everybody.min.js' %}"></script>
	<script>
		svg4everybody();
	</script>
	<!-- font - fontawesome -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-5.6.3/css/all.min.css' %}">
	<!-- font - stroyka -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/stroyka/stroyka.css' %}">
</head>

<body>
	<!--error-message start-->

	<!-- error-message end-->

	<!-- quickview-modal -->
	<div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content"></div>
		</div>
	</div>
	<!-- quickview-modal / end -->
	<!-- mobilemenu -->
	<div class="mobilemenu">
		<div class="mobilemenu__backdrop"></div>
		<div class="mobilemenu__body">
			<div class="mobilemenu__header">
				<div class="mobilemenu__title">منو</div>
				<button type="button" class="mobilemenu__close">
					<svg width="20px" height="20px">
						<use xlink:href="{% static 'images/sprite.svg' %}#cross-20"></use>
					</svg>
				</button>
			</div>
			<div class="mobilemenu__content">
				<ul class="mobile-links mobile-links--level--0" data-collapse data-collapse-opened-class="mobile-links__item--open">
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a href="{% url 'index' %}" target="_blank" class="mobile-links__item-link">خانه</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<svg class="mobile-links__item-arrow" width="12px" height="7px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
								</svg>
							</button>
						</div>
						
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">دسته ها</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<svg class="mobile-links__item-arrow" width="12px" height="7px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
								</svg>
							</button>
						</div>
						<div class="mobile-links__item-sub-links" data-collapse-content>
							<ul class="mobile-links mobile-links--level--1">
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">ابزار برقی</a>
										<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
											<svg class="mobile-links__item-arrow" width="12px" height="7px">
												<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
											</svg>
										</button>
									</div>
									<div class="mobile-links__item-sub-links" data-collapse-content>
										<ul class="mobile-links mobile-links--level--2">
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">نگارندگان</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">آچار ها</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">دیوار شکن</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">ابزار پنوماتیک</a></div>
											</li>
										</ul>
									</div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">ابزار ماشینی</a>
										<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
											<svg class="mobile-links__item-arrow" width="12px" height="7px">
												<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
											</svg>
										</button>
									</div>
									<div class="mobile-links__item-sub-links" data-collapse-content>
										<ul class="mobile-links mobile-links--level--2">
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">ابزار برش</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">دمنده</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">ماشین های تیز کننده</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">لوله بر</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">شکافنده</a></div>
											</li>
											<li class="mobile-links__item" data-collapse-item>
												<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">ماشین آلات</a></div>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a href="shop-grid-3-columns-sidebar.html" class="mobile-links__item-link">فروشگاه</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<svg class="mobile-links__item-arrow" width="12px" height="7px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
								</svg>
							</button>
						</div>
						<div class="mobile-links__item-sub-links" data-collapse-content>
							<ul class="mobile-links mobile-links--level--1">
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="shop-grid-3-columns-sidebar.html" class="mobile-links__item-link">فروشگاه توری</a>
										<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
											<svg class="mobile-links__item-arrow" width="12px" height="7px">
												<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
											</svg>
										</button>
									</div>
									
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="cart.html" class="mobile-links__item-link">سبد خرید</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="cart-empty.html" class="mobile-links__item-link">سبد خرید خالی</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="checkout.html" class="mobile-links__item-link">پرداخت</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="{% url 'wishlist' %}" class="mobile-links__item-link">لیست علاقه‌مندی‌ها</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="compare.html" class="mobile-links__item-link">مقایسه</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="track-order.html" class="mobile-links__item-link">پیگیری سفارش</a></div>
								</li>
							</ul>
						</div>
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a href="account-login.html" class="mobile-links__item-link">حساب کاربری</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<svg class="mobile-links__item-arrow" width="12px" height="7px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
								</svg>
							</button>
						</div>
						<div class="mobile-links__item-sub-links" data-collapse-content>
							<ul class="mobile-links mobile-links--level--1">
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="account_login.html" class="mobile-links__item-link">ورود</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="account-dashboard.html" class="mobile-links__item-link">داشبورد</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="account-profile.html" class="mobile-links__item-link">ویرایش پروفایل</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="account-orders.html" class="mobile-links__item-link">سابقه خرید</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="account-addresses.html" class="mobile-links__item-link">دفتر آدرس</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="account-password.html" class="mobile-links__item-link">تغییر رمز عبور</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="{% url 'account_signup' %}" target="_blank" class="mobile-links__item-link">خروج</a></div>
								</li>
							</ul>
						</div>
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a href="blog-classic.html" class="mobile-links__item-link">بلاگ</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<svg class="mobile-links__item-arrow" width="12px" height="7px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
								</svg>
							</button>
						</div>
						<div class="mobile-links__item-sub-links" data-collapse-content>
							<ul class="mobile-links mobile-links--level--1">
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="blog-classic.html" class="mobile-links__item-link">بلاگ کلاسیک</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="blog-grid.html" class="mobile-links__item-link">بلاگ توری</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="blog-list.html" class="mobile-links__item-link">بلاگ لیست</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="blog-right-sidebar.html" class="mobile-links__item-link">بلاگ نوار کناری راست</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="post.html" class="mobile-links__item-link">صفحه مطلب بلاگ</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="post-without-sidebar.html" class="mobile-links__item-link">مطلب بدون نوار کناری</a></div>
								</li>
							</ul>
						</div>
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a href="#" class="mobile-links__item-link">صفحات</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<svg class="mobile-links__item-arrow" width="12px" height="7px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
								</svg>
							</button>
						</div>
						<div class="mobile-links__item-sub-links" data-collapse-content>
							<ul class="mobile-links mobile-links--level--1">
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="about-us.html" class="mobile-links__item-link">درباره ما</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="contact-us.html" class="mobile-links__item-link">تماس با ما</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="contact-us-alt.html" class="mobile-links__item-link">تماس با ما طرح 2</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="404.html" class="mobile-links__item-link">404</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="terms-and-conditions.html" class="mobile-links__item-link">قوانین و مقررات</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="faq.html" class="mobile-links__item-link">سوالات متداول</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="components.html" class="mobile-links__item-link">اجزاء</a></div>
								</li>
								<li class="mobile-links__item" data-collapse-item>
									<div class="mobile-links__item-title"><a href="typography.html" class="mobile-links__item-link">تایپوگرافی</a></div>
								</li>
							</ul>
						</div>
					</li>
					<li class="mobile-links__item" data-collapse-item>
						<div class="mobile-links__item-title"><a data-collapse-trigger class="mobile-links__item-link">واحد پول</a>
							<button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
								<svg class="mobile-links__item-arrow" width="12px" height="7px">
									<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-12x7"></use>
								</svg>
							</button>
						</div>
						
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<!-- mobilemenu / end -->
	<!-- site -->
	<div class="site">
		<!-- mobile site__header -->
		<header class="site__header d-lg-none">
			<div class="mobile-header mobile-header--sticky mobile-header--stuck">
				<div class="mobile-header__panel">
					<div class="container">
						<div class="mobile-header__body">
							<button class="mobile-header__menu-button">
								<svg width="18px" height="14px">
									<use xlink:href="{% static 'images/sprite.svg' %}#menu-18x14"></use>
								</svg>
							</button>
							<a class="mobile-header__logo" href="">
								<img src="{% static 'images/sitelogo/site_logo-removebg-preview.png' %}"  width="120" height="140" >
								</svg>
							</a>
							<div class="mobile-header__search">
								<form class="mobile-header__search-form" action="#">
									<input class="mobile-header__search-input" name="search" placeholder="جستجو از میان 10,000 محصول" aria-label="Site search" type="text" autocomplete="off">
									<button class="mobile-header__search-button mobile-header__search-button--submit" type="submit">
										<svg width="20px" height="20px">
											<use xlink:href="{% static 'images/sprite.svg' %}#search-20"></use>
										</svg>
									</button>
									<button class="mobile-header__search-button mobile-header__search-button--close" type="button">
										<svg width="20px" height="20px">
											<use xlink:href="{% static 'images/sprite.svg' %}#cross-20"></use>
										</svg>
									</button>
									<div class="mobile-header__search-body"></div>
								</form>
							</div>
							<div class="mobile-header__indicators">
								<div class="indicator indicator--mobile-search indicator--mobile d-sm-none">
									<button class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="{% static 'images/sprite.svg' %}#search-20"></use></svg></span></button>
								</div>
								<div class="indicator indicator--mobile d-sm-flex d-none"><a href="{% url 'wishlist' %}" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="{% static 'images/sprite.svg' %}#heart-20"></use></svg> <span class="indicator__value">{{ wishlist.count }}</span></span></a></div>
								<div class="indicator indicator--mobile"><a href="{% url 'cart' %}" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="{% static 'images/sprite.svg' %}#cart-20"></use></svg> <span class="indicator__value">3</span></span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- mobile site__header / end -->
		<!-- desktop site__header -->
		<header class="site__header d-lg-block d-none">
			<div class="site-header">
				<!-- .topbar -->
				<div class="site-header__topbar topbar">
					<div class="topbar__container container">
							
					</div>
				</div>
				<!-- .topbar / end -->
				<div class="site-header__middle container">
					<div class="site-header__logo">
						<a href="{% url 'index' %}">
							<svg xmlns="http://www.w3.org/2000/svg" width="196px" height="26px">
								<img src="{% static 'images/sitelogo/site_logo-removebg-preview.png' %}"  width="260" height="300" >
							</svg>
						</a>
					</div>
					<div class="site-header__search">
						<div class="search">
							<form class="search__form"  method="GET" action="{% url 'search_kala' %}"  enctype="multipart/form-data" accept-charset = 'utf-8'>
								{% csrf_token %}
								<input class="search__input" name="search" placeholder="جستجو از میان 10,000 محصول" aria-label="Site search" type="text" autocomplete="on">
								<button class="search__button" type="submit">
									<svg width="20px" height="20px">
										<use xlink:href="{% static 'images/sprite.svg' %}#search-20"></use>
									</svg>
								</button>
								<div class="search__border"></div>
							</form>
						</div>
					</div>
					<div class="site-header__phone">
						<div class="site-header__phone-title">خدمات مشتری</div>
						<div class="site-header__phone-number"><span class="ltr_text">(600) 160-0662</span></div>
					</div>
				</div>
				<div class="site-header__nav-panel">
					<div class="nav-panel">
						<div class="nav-panel__container container">
							<div class="nav-panel__row">
								<div class="nav-panel__departments">
									<!-- .departments -->
                                    
									<div class="departments" data-departments-fixed-by="">
										<div class="departments__body">
											<div class="departments__links-wrapper">
												<ul class="departments__links">
													<li class="departments__item"><a href="{% url 'CategoryListView' 'electronic-tools' %}">ابزار برقی <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href='{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9'></use></svg></a>
														<div class="departments__megamenu departments__megamenu--xl">
															<!-- .megamenu -->
															<div class="megamenu megamenu--departments" style="background-image: url('static/images/megamenu/megamenu-1.jpg')">
																<div class="row">
																	<div class="col-3">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار برقی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">نگارندگان</a></li>
																					<li class="megamenu__item"><a href="#">دریل ها</a></li>
																					<li class="megamenu__item"><a href="#">آچار ها</a></li>
																					<li class="megamenu__item"><a href="#">لوله کشی</a></li>
																					<li class="megamenu__item"><a href="#">دیوار شکن</a></li>
																					<li class="megamenu__item"><a href="#">ابزار پنوماتیک</a></li>
																					<li class="megamenu__item"><a href="#">برش فرز</a></li>
																				</ul>
																			</li>
																			<li class="megamenu__item"><a href="#">میزکار</a></li>
																			<li class="megamenu__item"><a href="#">مطبوعات</a></li>
																			<li class="megamenu__item"><a href="#">گردپاش</a></li>
																			<li class="megamenu__item"><a href="#">ریدرها</a></li>
																		</ul>
																	</div>
																	<div class="col-3">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار دستی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پیچ گوشتی ها</a></li>
																					<li class="megamenu__item"><a href="#">اره دستی</a></li>
																					<li class="megamenu__item"><a href="#">چاقو ها</a></li>
																					<li class="megamenu__item"><a href="#">تبر ها</a></li>
																					<li class="megamenu__item"><a href="#">ابزار چندکاره</a></li>
																					<li class="megamenu__item"><a href="#">ابزار نقاشی</a></li>
																				</ul>
																			</li>
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">تجهیزات باغبانی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پمپ های موتور</a></li>
																					<li class="megamenu__item"><a href="#">اره برقی</a></li>
																					<li class="megamenu__item"><a href="#">اره الکتریکی</a></li>
																					<li class="megamenu__item"><a href="#">چمن زن</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																	<div class="col-3">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار ماشینی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">ابزار برش</a></li>
																					<li class="megamenu__item"><a href="#">دمنده</a></li>
																					<li class="megamenu__item"><a href="#">ماشین های تیز کننده</a></li>
																					<li class="megamenu__item"><a href="#">لوله بر</a></li>
																					<li class="megamenu__item"><a href="#">شکافنده</a></li>
																					<li class="megamenu__item"><a href="#">ماشین آلات</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																	<div class="col-3">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">تجهیزات جوشکاری</a></li>
																					<li class="megamenu__item"><a href="#">ابزار برقی</a></li>
																					<li class="megamenu__item"><a href="#">ابزار دستی</a></li>
																					<li class="megamenu__item"><a href="#">ابزار اندازه گیری</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<!-- .megamenu / end -->
														</div>
													</li>
													<li class="departments__item"><a href="{% url 'CategoryListView' 'manual-tools' %}">ابزار دستی <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use></svg></a>
														<div class="departments__megamenu departments__megamenu--lg">
															<!-- .megamenu -->
															<div class="megamenu megamenu--departments" style="background-image: url('static/images/megamenu/megamenu-2.jpg');">
																<div class="row">
																	<div class="col-4">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار دستی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پیچ گوشتی ها</a></li>
																					<li class="megamenu__item"><a href="#">اره دستی</a></li>
																					<li class="megamenu__item"><a href="#">چاقو ها</a></li>
																					<li class="megamenu__item"><a href="#">تبر ها</a></li>
																					<li class="megamenu__item"><a href="#">ابزار چندکاره</a></li>
																					<li class="megamenu__item"><a href="#">ابزار نقاشی</a></li>
																				</ul>
																			</li>
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">تجهیزات باغبانی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پمپ های موتور</a></li>
																					<li class="megamenu__item"><a href="#">اره برقی</a></li>
																					<li class="megamenu__item"><a href="#">اره الکتریکی</a></li>
																					<li class="megamenu__item"><a href="#">چمن زن</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																	<div class="col-4">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار ماشینی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">ابزار برش</a></li>
																					<li class="megamenu__item"><a href="#">دمنده</a></li>
																					<li class="megamenu__item"><a href="#">ماشین های تیز کننده</a></li>
																					<li class="megamenu__item"><a href="#">لوله بر</a></li>
																					<li class="megamenu__item"><a href="#">شکافنده</a></li>
																					<li class="megamenu__item"><a href="#">ماشین آلات</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																	<div class="col-4">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">تجهیزات جوشکاری</a></li>
																					<li class="megamenu__item"><a href="#">ابزار برقی</a></li>
																					<li class="megamenu__item"><a href="#">ابزار دستی</a></li>
																					<li class="megamenu__item"><a href="#">ابزار اندازه گیری</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<!-- .megamenu / end -->
														</div>
													</li>
													<li class="departments__item"><a href="{% url 'CategoryListView' 'electronic-tools' %}">ابزار ماشینی <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use></svg></a>
														<div class="departments__megamenu departments__megamenu--nl">
															<!-- .megamenu -->
															<div class="megamenu megamenu--departments" style="background-image: url('static/images/megamenu/megamenu-3.jpg');">
																<div class="row">
																	<div class="col-6">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار دستی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پیچ گوشتی ها</a></li>
																					<li class="megamenu__item"><a href="#">اره دستی</a></li>
																					<li class="megamenu__item"><a href="#">چاقو ها</a></li>
																					<li class="megamenu__item"><a href="#">تبر ها</a></li>
																					<li class="megamenu__item"><a href="#">ابزار چندکاره</a></li>
																					<li class="megamenu__item"><a href="#">ابزار نقاشی</a></li>
																				</ul>
																			</li>
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">تجهیزات باغبانی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پمپ های موتور</a></li>
																					<li class="megamenu__item"><a href="#">اره برقی</a></li>
																					<li class="megamenu__item"><a href="#">اره الکتریکی</a></li>
																					<li class="megamenu__item"><a href="#">چمن زن</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																	<div class="col-6">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">تجهیزات جوشکاری</a></li>
																					<li class="megamenu__item"><a href="#">ابزار برقی</a></li>
																					<li class="megamenu__item"><a href="#">ابزار دستی</a></li>
																					<li class="megamenu__item"><a href="#">ابزار اندازه گیری</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<!-- .megamenu / end -->
														</div>
													</li>
													<li class="departments__item"><a href="{% url 'CategoryListView' 'electronic-tools' %}">لوازم ساختمان <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use></svg></a>
														<div class="departments__megamenu departments__megamenu--sm">
															<!-- .megamenu -->
															<div class="megamenu megamenu--departments">
																<div class="row">
																	<div class="col-12">
																		<ul class="megamenu__links megamenu__links--level--0">
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">ابزار دستی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پیچ گوشتی ها</a></li>
																					<li class="megamenu__item"><a href="#">اره دستی</a></li>
																					<li class="megamenu__item"><a href="#">چاقو ها</a></li>
																					<li class="megamenu__item"><a href="#">تبر ها</a></li>
																					<li class="megamenu__item"><a href="#">ابزار چندکاره</a></li>
																					<li class="megamenu__item"><a href="#">ابزار نقاشی</a></li>
																				</ul>
																			</li>
																			<li class="megamenu__item megamenu__item--with-submenu"><a href="#">تجهیزات باغبانی</a>
																				<ul class="megamenu__links megamenu__links--level--1">
																					<li class="megamenu__item"><a href="#">پمپ های موتور</a></li>
																					<li class="megamenu__item"><a href="#">اره برقی</a></li>
																					<li class="megamenu__item"><a href="#">اره الکتریکی</a></li>
																					<li class="megamenu__item"><a href="#">چمن زن</a></li>
																				</ul>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<!-- .megamenu / end -->
														</div>
													</li>
													<li class="departments__item departments__item--menu"><a href="{% url 'CategoryListView' 'electronic-tools' %}">الکتریکی <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use></svg></a>
														<div class="departments__menu">
															<!-- .menu -->
															<ul class="menu menu--layout--classic">
																<li><a href="#">تجهیزات لحیم کاری <svg class="menu__arrow" width="6px" height="9px"><use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use></svg></a>
																	<div class="menu__submenu">
																		<!-- .menu -->
																		<ul class="menu menu--layout--classic">
																			<li><a href="#">ایستگاه لحیم کاری</a></li>
																			<li><a href="#">خشک کن لحیم کاری</a></li>
																			<li><a href="#">آهن لحیم کاری گاز</a></li>
																			<li><a href="#">آهن لحیم کاری الکتریکی</a></li>
																		</ul>
																		<!-- .menu / end -->
																	</div>
																</li>
																<li><a href="#">لامپ برقی</a></li>
																<li><a href="#">باتری ها</a></li>
																<li><a href="#">وسایل نور</a></li>
																<li><a href="#">کف گرمایشی</a></li>
																<li><a href="#">ژنراتور ها</a></li>
																<li><a href="#">یو پی اس</a></li>
															</ul>
															<!-- .menu / end -->
														</div>
													</li>
													<li class="departments__item"><a href="#">ماشین آلات برقی</a></li>
													<li class="departments__item"><a href="#">اندازه گیری</a></li>
													<li class="departments__item"><a href="#">لباس کار</a></li>
													<li class="departments__item"><a href="#">لوله کشی</a></li>
													<li class="departments__item"><a href="#">ذخیره سازی و سازماندهی</a></li>
													<li class="departments__item"><a href="#">جوشکاری و لحیم کاری</a></li>
												</ul>
											</div>
										</div>
										<button class="departments__button">
											<svg class="departments__button-icon" width="18px" height="14px">
												<use xlink:href="{% static 'images/sprite.svg' %}#menu-18x14"></use>
											</svg> دسته‌بندی‌ها
											<svg class="departments__button-arrow" width="9px" height="6px">
												<use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-9x6"></use>
											</svg>
										</button>
									</div>
									
									<!-- .departments / end -->
								</div>
								<!-- .nav-links -->
								<div class="nav-panel__nav-links nav-links">
									<ul class="nav-links__list">
										<li class="nav-links__item nav-links__item--with-submenu"><a href="{% url 'index' %}"><span>خانه <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="/images/sprite.svg#arrow-rounded-down-9x6"></use></svg></span></a>
											<div class="nav-links__menu">
												<!-- .menu -->
												
												<!-- .menu / end -->
											</div>
										</li>
										
										<li class="nav-links__item nav-links__item--with-submenu"><a href="#"><span>حساب کاربری <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-down-9x6"></use></svg></span></a>
											<div class="nav-links__menu">
												<!-- .menu -->
												<ul class="menu menu--layout--classic">

													{% if user.is_authenticated %}
														<li><a href="{% url 'dashboard' %}">داشبورد</a></li>
														<li><a href="{% url 'track_order' %}">پیگیری سفارش</a></li>
														<li><a href="{% url 'change-password' %}">تغییر رمز عبور</a></li>
													{% else %}
														<li><a href='{% url "account_signup" %}'> ثبت نام</a></li>
														<li><a href='{% url "account_login" %}'> ورود</a></li>
													{% endif %}

												</ul>
												<!-- .menu / end -->
											</div>
										</li>
										<li class="nav-links__item nav-links__item--with-submenu"><a href="{% url 'brands' %}"><span>برندها <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="/images/sprite.svg#arrow-rounded-down-9x6"></use></svg></span></a>
										</li>
										<li class="nav-links__item nav-links__item--with-submenu"><a href="{% url 'blog' %}"><span>بلاگ <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="/images/sprite.svg#arrow-rounded-down-9x6"></use></svg></span></a>
										</li>						
										
										<li class="nav-links__item nav-links__item--with-submenu"><a href="{% url 'about-us' %}"><span>درباره ما <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="/images/sprite.svg#arrow-rounded-down-9x6"></use></svg></span></a>
											<div class="nav-links__menu">
												<!-- .menu -->
												
												<!-- .menu / end -->
											</div>
										</li>
										<li class="nav-links__item"><a href="{% url 'contact-us' %}" ><span>تماس با ما</span></a></li>
									</ul>
								</div>
								<!-- .nav-links / end -->
								{% if not user.is_authenticated %}
									<div class="nav-panel__indicators">
									<div class="indicator">{% comment %}<div class="indicator indicator--trigger--click">{% endcomment %}<a href="{% url 'cart' %}" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="{% static 'images/sprite.svg' %}#cart-20"></use></svg> <span class="indicator__value">{% if cart %}{{ cart.payed.count }}{% else %}0{% endif %}</span></span></a></div>
								{% else %}
									<div class="nav-panel__indicators">
									<div class="indicator"><a href="{% url 'wishlist' %}" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="{% static 'images/sprite.svg' %}#heart-20"></use></svg> <span class="indicator__value" >{% if wishlist %}{{ wishlist.count }}{% else %}0{% endif %}</span></span></a></div>
									<div class="indicator"><a href="{% url 'compare' %}" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="{% static 'images/sprite.svg' %}#compare-16"></use></svg><span class="indicator__value" >{% if compare %}{{ compare.count }}{% else %}0{% endif %}</span></span></a></div>
									<div class="indicator">{% comment %}<div class="indicator indicator--trigger--click">{% endcomment %}<a href="{% url 'cart' %}" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="{% static 'images/sprite.svg' %}#cart-20"></use></svg> <span class="indicator__value">{% if cart %}{{ carts.count }}{% else %}0{% endif %}</span></span></a></div>
										<div class="indicator__dropdown">
											{% comment %}
												<!-- .dropcart -->
												<div class="dropcart">
													<div class="dropcart__products-list">
														<div class="dropcart__product">
															<div class="dropcart__product-image">
																<a href="" target="_blank"><img src='{% static "images/products/product-1.jpg" %}' alt=""></a>
															</div>
															<div class="dropcart__product-info">
																<div class="dropcart__product-name"><a href="product.html">اره برقی برندیکس مدل 300 وات</a></div>
																<ul class="dropcart__product-options">
																	<li>رنگ: زرد</li>
																	<li>جنس: آلومینیوم</li>
																</ul>
																<div class="dropcart__product-meta"><span class="dropcart__product-quantity">2</span> × <span class="dropcart__product-price">699,000 تومان</span></div>
															</div>
															<button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
																<svg width="10px" height="10px">
																	<use xlink:href="{% static 'images/sprite.svg' %}#cross-10"></use>
																</svg>
															</button>
														</div>
														<div class="dropcart__product">
															<div class="dropcart__product-image">
																<a href="product.html"><img src='{% static "images/products/product-2.jpg" %}' alt=""></a>
															</div>
															<div class="dropcart__product-info">
																<div class="dropcart__product-name"><a href="product.html">اره چوب بری IRadix مدل 2700 وات</a></div>
																<div class="dropcart__product-meta"><span class="dropcart__product-quantity">1</span> × <span class="dropcart__product-price">849,000 تومان</span></div>
															</div>
															<button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
																<svg width="10px" height="10px">
																	<use xlink:href="{% static 'images/sprite.svg' %}#cross-10"></use>
																</svg>
															</button>
														</div>
														<div class="dropcart__product">
															<div class="dropcart__product-image">
																<a href="product.html"><img src='{% static "images/products/product-5.jpg" %}' alt=""></a>
															</div>
															<div class="dropcart__product-info">
																<div class="dropcart__product-name"><a href="product.html">میخ کوب برقی برندیکس مدل 2019</a></div>
																<ul class="dropcart__product-options">
																	<li>رنگ: قرمز</li>
																</ul>
																<div class="dropcart__product-meta"><span class="dropcart__product-quantity">3</span> × <span class="dropcart__product-price">1,210,000 تومان</span></div>
															</div>
															<button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
																<svg width="10px" height="10px">
																	<use xlink:href="{% static 'images/sprite.svg' %}#cross-10"></use>
																</svg>
															</button>
														</div>
													</div>
													<div class="dropcart__totals">
														<table>
															<tr>
																<th>جمع جزء</th>
																<td>5,877,000 تومان</td>
															</tr>
															<tr>
																<th>حمل و نقل</th>
																<td>25,000 تومان</td>
															</tr>
															<tr>
																<th>مالیات</th>
																<td>0 تومان</td>
															</tr>
															<tr>
																<th>جمع کل</th>
																<td>5,902,000 تومان</td>
															</tr>
														</table>
													</div>
													<div class="dropcart__buttons"><a class="btn btn-secondary" href="{% url 'cart' %}">مشاهده سبد</a> <a class="btn btn-primary" href="{% url 'checkout' %}">پرداخت</a></div>
												</div>
												<!-- .dropcart / end -->
											</div>
											{% endcomment %}
											
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- desktop site__header / end -->



<!-- body strat -->
{% block body %}


{% endblock %}
<!-- body end -->


<!-- site__footer -->
<footer class="site__footer" >
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">ارتباط با ما</h5>
                            <ul class="footer-contacts__contacts">
                                <li><i class="footer-contacts__icon fas fa-globe-americas"></i> تهران , میدان ونک </li>
                                <li><i class="footer-contacts__icon far fa-envelope"></i>example@gmail.com</li>
                                <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> <span class="ltr_text">(800) 060-0730</span>, <span class="ltr_text">(800) 060-0730</span></li>
                                <li><i class="footer-contacts__icon far fa-clock"></i> شنبه - پنجشنبه : 10 صبح - 7 عصر</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">اطلاعات</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="{% url 'about-us' %}" class="footer-links__link">درباره ما</a></li>
								<li class="footer-links__item"><a href="{% url 'terms_and_conditions' %}" class="footer-links__link">قوانین و مقررات</a></li>
								<li class="footer-links__item"><a href="{% url 'faq' %}" class="footer-links__link">سوالات متداول</a></li>
                                <!--<li class="footer-links__item"><a href="#" class="footer-links__link">حریم خصوصی</a></li>-->
                                <li class="footer-links__item"><a href="{% url 'contact-us'%}" class="footer-links__link">تماس با ما</a></li>
								
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-1">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title"></h5>
                            
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">خبرنامه</h5>
                            <div class="footer-newsletter__text">در خبرنامه ما عضو شوید و از تخفیف ها مطلع شوید</div>
                            <form action="#" class="footer-newsletter__form">
                                <label class="sr-only" for="footer-newsletter-address">آدرس ایمیل</label>
                                <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="... آدرس ایمیل" dir="ltr">
                                <button class="footer-newsletter__form-button btn btn-primary">اشتراک</button>
                            </form>
                            <div class="footer-newsletter__text footer-newsletter__text--social">ما را در شبکه های اجتماعی دنبال کنید</div>
                            <ul class="footer-newsletter__social-links">
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--youtube"><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--rss"><a href="#" target="_blank"><i class="fas fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__copyright">
					<a href="https://github.com/Amirhoseindzh" >
						<h6>Developed By : Amirhossein Dezhabdolahi</h6></a>
					</div>
                <div class="site-footer__payments"><img src='{% static "images/payments.png" %}' alt=""></div>
            </div>
        </div>
    </div>
</footer>
<!-- site__footer / end -->
</div>
<!-- site / end -->
</body>

</html>